<div ng-include="'header.html'"></div>

<div class="heading">Create a Recipe</div>

<span class="step">3. Add Extras</span>

<form name="addExtraForm" novalidate>

  <div class="form-group">
  	<input type="text" name="extra1" ng-model="extras.extra1" placeholder="Enter Ingredients" ng-maxlength="50">
    <span ng-show="addExtraForm.extra1.$error.maxlength">Maximum characters exceeded, only 50 allowed</span>
  </div>
  <div class="form-group"> 
  	<input type="text" name="extra2" ng-model="extras.extra2" placeholder="Enter Ingredients" ng-maxlength="50">
    <span ng-show="addExtraForm.extra2.$error.maxlength">Maximum characters exceeded, only 50 allowed</span>
  </div>
  <div class="form-group">
  	<input type="text" name="extra3" ng-model="extras.extra3" placeholder="Enter Ingredients" ng-maxlength="50">
  	 <span ng-show="addExtraForm.extra3.$error.maxlength">Maximum characters exceeded, only 50 allowed</span>
  </div>

  <div class="form-buttons"> 
	  <button><a href="enhanceyourshake">BACK</a></button>
	  <button ng-click="addExtra(addExtraForm)">NEXT</button>
    <a href="nameyourrecipe">Skip</a>
    <div ng-show="submitted && addExtraForm.$invalid">
    <p>You have some errors in your form, please fix it.</p>
  </div>

</form>

<div ng-include="'nav.html'"></div>