<div ng-include="'header.html'"></div>

<div class="container">
  <div class="recipe">
    <div class="recipe__container recipe__container--{{BBrecipeToDisplay.shakeType}}">
      <h3 class="recipe__name">{{BBrecipeToDisplay.shakeName}}</h3>
      <p class="recipe__submitter">@{{BBrecipeToDisplay.shakeCreator}}</p>
    </div>
    <p ng-repeat="c in BBrecipeToDisplay.shakeAddons">{{c}}</p>
    <p><strong>Nutrition Facts</strong> <span class="nutrition-light">Protein {{BBrecipeToDisplay.shakeNutrition.protein}}g, Carbs  {{BBrecipeToDisplay.shakeNutrition.carbs}}g, Fat {{BBrecipeToDisplay.shakeNutrition.fat}}g, Sodium {{BBrecipeToDisplay.shakeNutrition.sodium}}g, Fiber {{BBrecipeToDisplay.shakeNutrition.protein}}g</span></p>
  </div>
</div>

<div ng-include="'nav.html'"></div>