<div ng-include="'header.html'"></div>

<div class="heading">Create a Recipe</div>

<span class="step">1. Select a Flavor</span>

<div class="container">
  <form name="selectAFlavorForm" novalidate>
    <p><input type="radio" name="flavor" value="Vanilla" ng-model="flavorChoice" ng-required="true"> VANILLA </p>
    <p><input type="radio" name="flavor" value="Chocolate" ng-model="flavorChoice" ng-required="true"> CHOCOLATE </p>
    <p><input type="radio" name="flavor" value="Strawberry" ng-model="flavorChoice" ng-required="true"> STRAWBERRY </p>
    <p><input type="radio" name="flavor" value="Cafe Latte" ng-model="flavorChoice" ng-required="true"> CAFE LATTE </p>
    <p><input type="radio" name="flavor" value="Greenberry" ng-model="flavorChoice" ng-required="true"> GREENBERRY </p>
    <p><input type="radio" name="flavor" value="Chocolate Vegan" ng-model="flavorChoice" ng-required="true"> CHOCOLATE VEGAN</p>
    <p><input type="radio" name="flavor" value="Strawberry Vegan" ng-model="flavorChoice" ng-required="true"> STRAWBERRY VEGAN </p>
    <div class="button-group">
  	  <button><a href="homepage">BACK</a></button>
  	  <button ng-click="flavorSelected(selectAFlavorForm)">NEXT</button> 
    </div>
    <div ng-show="frmInvalid">
    	<p>Please Select a Flavor to Continue</p>
    </div>
  </form>
</div>
  
<div ng-include="'nav.html'"></div>