<div ng-include="'header.html'"></div>

<div class="heading">Create a Recipe</div>

<span class="step">1. Select a Flavor</span>

<div class="container">

  <form name="selectAFlavorForm" novalidate>

    <label><input type="radio" name="flavor" value="chocolate" ng-model="flavorChoice" ng-required="true"> Chocolate</label>
    <label><input type="radio" name="flavor" value="vanilla" ng-model="flavorChoice" ng-required="true"> Vanilla</label>
    <label><input type="radio" name="flavor" value="strawberry" ng-model="flavorChoice" ng-required="true"> Strawberry</label>
    <label><input type="radio" name="flavor" value="cafe Latte" ng-model="flavorChoice" ng-required="true"> Cafe Latte</label>
    <label><input type="radio" name="flavor" value="greenberry" ng-model="flavorChoice" ng-required="true"> Greenberry</label>
    <label><input type="radio" name="flavor" value="chocolate Vegan" ng-model="flavorChoice" ng-required="true"> Chocolate Vegan</label>
    <label><input type="radio" name="flavor" value="strawberry Vegan" ng-model="flavorChoice" ng-required="true"> Strawberry Vegan</label>

    <div class="button-group">
      <button ng-click="flavorSelected(selectAFlavorForm)">Next</button>
    </div>
     
    <div ng-show="frmInvalid" class="error">
      Please Select a Flavor to Continue
    </div>

  </form>
  
</div>
  
<div ng-include="'nav.html'"></div>