<header>
	<a href="/partials/homepage">
		<button class="icon home">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.41 10.38">
				<title>icon-home</title>
				<polygon points="10.41 5.2 5.2 0 0 5.2 0.01 5.2 1.92 5.2 1.92 10.38 4.59 10.38 4.59 7.17 6.69 7.17 6.69 10.38 8.52 10.38 8.52 5.2 10.4 5.2 10.41 5.2"/>
			</svg>
		</button>
	</a>
	<div class="logo">
		<img src="../img/logo-shakeology-pal.svg" alt="Shakeology Pal">
	</div>
	<a href="/partials/user">
		<button class="icon user">
			<img src="../img/user.png" alt="user profile image">
		</button>
	</a>
</header>