<header>
	<button class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 27">
			<title>home</title>
			<path d="M32,19l-6-6V4H22V9L16,3,0,19v1H4V30H14V24h4v6H28V20h4Z" transform="translate(0 -3)"/>
		</svg>
	</button>
	<div class="logo">
		<img src="../img/logo.png" alt="Shakeology Pal">
	</div>
	<button class="icon user">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 25.9">
			<title>user</title>
			<path d="M16,19.1V17.5a8.82,8.82,0,0,0,4-7.4c0-5,0-9-6-9s-6,4-6,9a8.82,8.82,0,0,0,4,7.4v1.6C5.2,19.6,0,23,0,27H28C28,23,22.8,19.6,16,19.1Z" transform="translate(0 -1.1)"/>
		</svg>
	</button>
</header>