<div ng-include="'header.html'"></div>

<div class="heading">Find a Recipe</div>

<div class="container">
  <!--  <div ng-include="'search.html'"></div>-->
  <div class="search-bar">
    <input type="search" ng-change="searchShakes(search.$)" placeholder="Search" ng-model="search.$">
  </div>
  <h3 ng-show="searchInProgress">Showing Search results for {{searchTerm}}</h3>
  <div class="shake-margin">
    <ul class="shake" ng-repeat="x in shakes | filter:search">
      <li class="shake__container shake__container--{{y.shakeType}}" ng-repeat="y in x.shakeAttributes | filter:search">
        <h3 class="shake__name">{{y.shakeName}}</h3>
        <p class="shake__submitter">@beachbody</p>
        <span class="shake__calories">{{y.shakeNutrition.calories}} Cal.</span>
        <span class="shake__favorites">637</span>
      </li>
    </ul>
  </div>
</div>


<div ng-include="'nav.html'"></div>