<!doctype html>
<html ng-app="DevoDemoApp">
  
  <head>
    <base href="/partials/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-touch.js"></script>

    <script src="../js/mainApp.js"></script>
    <script src="../js/runApp.js"></script>
    <script src="../js/routing.js"></script>
    <script src="../js/controllers/homepageController.js"></script>
    <script src="../js/controllers/createARecipeController.js"></script>
    <script src="../js/controllers/userProfileController.js"></script>
    <script src="../js/factories/recipeDataFactory.js"></script>
    <script src="../js/factories/allrecipesFactory.js"></script>
    <script src="../js/controllers/recipeDetailsController.js"></script>
    <script src="../js/controllers/bbrecipeDetailsController.js"></script>


    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body ng-class="ng-cloak">
    <div ng-view ng-class="">
       
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  </body>
</html>