<div ng-include="'header.html'"></div>
<div class="heading">Recipe Ideas</div>
<div class="container">
  <div class="button-group">
    <a href="/partials/ideas"><button>Popular</button></a>
    <button  class="back">New</button>
  </div>
  <div class="shake-margin">
    <ul class="shake" ng-repeat="x in shakes | filter:search | orderBy:'-shakeDate'" ng-click="openRecipePreview(x.shakeID)">
      <li class="shake__container shake__container--{{x.shakeType}}">
        <h3 class="shake__name">{{x.shakeName}}</h3>
        <p class="shake__submitter">@{{x.shakeCreator}}</p>
        <span class="shake__calories">{{x.shakeNutrition.calories}} Cal.</span>
        <span class="shake__favorites">{{x.shakeFave}}</span>
      </li>
    </ul>
  </div>
</div>
<div ng-include="'nav.html'"></div>