<div ng-include="'header.html'"></div>

<div class="heading">Create a Recipe</div>

<span class="step">5. Review Your Recipe</span>

<div class="container">

	<div class="recipe">
		<p><strong>Name:</strong> {{personalizedShakeName}}</p>
		<p><strong>Ingredients:</strong></p>
		<p class="ingredient-review">1 scoop <span class="flavor-span">{{flavorChoice}}</span></p>
		<p class="ingredient-review">1 scoop {{enhancementChoice}}</p>
		<p ng-repeat="x in extras" class="ingredient-review">{{x}}</p>
		<p><strong>Calories:</strong> {{calories}}</p>
		<p><strong>Nutrition Facts:</strong> {{nutritionFacts}}</p>
	</div>

	<div class="button-group">
		<a href="nameyourrecipe"><button class="back">Back</button></a>
	    <button ng-click="saveYourRecipe()">Save</button>
	</div>
	
</div>

<div ng-include="'nav.html'"></div>