<div ng-include="'header.html'"></div>

<div class="heading">My Profile</div>

<div class="container">
	<div class="profile-info">
		<img src="../img/user.png" alt="user profile image">
		<strong>Carl Daikeler</strong><br/>
		<span>@CarlDaikeler</span>
	</div>
	<div class="recipe" ng-repeat="x in user__SavedRecipes">
		<div class="recipe__container recipe__container--{{x.shakeType}}">
	      <h3 class="recipe__name">{{x.shakeName}}</h3>
	      <p class="recipe__submitter">@CarlDaikler</p>
	    </div>
		<p>1 scoop <a href="#"><span class="flavor-span">{{x.shakeType}}</span> Shakeology</a></p>
		<p>1 scoop <a href="#">{{x.enhancement}}</a></p>
		<p>{{x.shakeAddons.extra1}}</p>
		<p>{{x.shakeAddons.extra2}}</p>
		<p>{{x.shakeAddons.extra3}}</p>
		<p><strong>Calories:</strong> {{calories}} <small> Sample only</small></p>
		<p><strong>Nutrition Facts:</strong> {{nutritionFacts}} <small> Sample only</small></p>
	</div>

	<div class="shake-margin">
	    <ul class="shake">
	    	<li class="shake__container shake__container--greenberry" ng-click="openRecipePreview(x.shakeID)">
		        <h3 class="shake__name ng-binding">Green Envy Shakeology</h3>
		        <p class="shake__submitter ng-binding">@CarlDaikeler</p>
		        <span class="shake__calories ng-binding">238 Cal.</span>
		        <span class="shake__favorites ng-binding">637</span>
		      </li>
	      <li class="shake__container shake__container--vanilla" ng-click="openRecipePreview(x.shakeID)">
	        <h3 class="shake__name ng-binding">Cranberry Cookie Shakeology</h3>
	        <p class="shake__submitter ng-binding">@CarlDaikeler</p>
	        <span class="shake__calories ng-binding">310 Cal.</span>
	        <span class="shake__favorites ng-binding">291</span>
	      </li>
	    </ul>
	</div>
	
</div>
  	
<div ng-include="'nav.html'"></div>